<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    class="app-sidebar"
    [mode]="sidenavMode()"
    [opened]="isSidenavOpen()"
    (closedStart)="isMobileSidenavOpen.set(false)"
  >
    <div class="sidebar-content">
      <a class="brand" routerLink="/new-tailoring" (click)="closeSidenavAfterNavigation()">
        <span class="brand-mark">HT</span>
        <span class="brand-name">HireTailor</span>
      </a>

      <mat-nav-list class="nav-list" aria-label="Primary navigation">
        @for (item of navigationItems; track item.route) {
          <a
            mat-list-item
            class="nav-item"
            [routerLink]="item.route"
            routerLinkActive="active-link"
            (click)="closeSidenavAfterNavigation()"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
        <div mat-subheader>My jobs</div>
        @for (employer of employerList; track employer.id) {
          <a
            mat-list-item
            class="nav-item"
            [routerLink]="['/tailoring', employer.id]"
            routerLinkActive="active-link"
            (click)="closeSidenavAfterNavigation()"
          >
            <mat-icon matListItemIcon>work_outline</mat-icon>
            <div matListItemTitle>{{employer.jobPosition}}</div>
            <div matListItemLine>{{employer.employerName}}</div>
          </a>
        }
      </mat-nav-list>

      <div class="profile-section">
        <a
          mat-list-item
          class="nav-item profile-link"
          routerLink="/user-profile"
          routerLinkActive="active-link"
          (click)="closeSidenavAfterNavigation()"
        >
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <span matListItemTitle>User Profile</span>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    @if (isCompact()) {
      <mat-toolbar class="mobile-toolbar">
        <button
          mat-icon-button
          type="button"
          aria-label="Open navigation"
          (click)="toggleSidenav()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>HireTailor</span>
      </mat-toolbar>
    }

    <main class="content-frame">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
